body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

section {
    margin: 20px;
}

#about {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#projects {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.projectCard {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
